table.booklist {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
}

th {
  text-align: left;
  font-family: $family-secondary;
  font-weight: 400;
  font-size: 1.25rem;
}

.booklist > h6,
th.row {
  padding: 0.1em 0 !important;
  text-align: center !important;
  background-color: $grey-light;
}

th:nth-child(1) {width: 6%;}
th:nth-child(2) {width:55%;}
th:nth-child(3) {width:35%;}
th:nth-child(4) {width: 14%;}

th:nth-child(4), td:nth-child(4) {
  text-align: right !important;
}

tr:nth-child(2n){
  background-color: #eee;
}

tr:hover{
  background: linear-gradient(90deg, rgba(255,0,0,0), rgba($link, 0.4) 5%, rgba($link, 0.6) 25%, rgba(255,0,0,0) 100%);
}

.booklist h6 {
  scroll-margin-top: 3.5em; // this makes the window go higher than the a href target point
}
