{{ $main := resources.Get "js/main.js" | js.Build }}
<script src="{{ $main.RelPermalink }}" defer></script>

{{ $footnotes := resources.Get "js/footnotes.js" | js.Build }}
<script src="{{ $footnotes.RelPermalink }}" defer></script>

{{ $bulma_navbar := resources.Get "js/bulma-navbar.js" | js.Build }}
<script src="{{ $bulma_navbar.RelPermalink }}" defer></script>

{{ $tableofcontents := resources.Get "js/table-of-contents.js" | js.Build }}
<script src="{{ $tableofcontents.RelPermalink }}" defer></script>

<script defer src="https://eu.umami.is/script.js" data-website-id="364879b2-7dfb-4fa9-811b-12c492b3a1ba"></script>

<script data-goatcounter="https://goatcounter.capycontent.com/count" async src="//goatcounter.capycontent.com/count.js"></script>
