{{ .Scratch.Set "subtitle" "" }}
  {{ if .IsHome }}
    {{ .Scratch.Set "subtitle" "" }}
  {{ else if eq .Type "tags" }}
    {{ .Scratch.Set "subtitle" (printf " | %s" .Title) }}
  {{ else if eq .Type "galas" }}
    {{ .Scratch.Set "subtitle" (printf " | %s" .Type) }}
  {{ else if eq .Type "pages" }}
    {{ .Scratch.Set "subtitle" (printf " | %s" .Title) }}
  {{ else if eq .Type "posts" }}
    {{ .Scratch.Set "subtitle" (printf " | %s" "Blog") }}
  {{ end }}

<!-- START NAVBAR FOR MOBILE -->
<nav class="navbar is-transparent is-fixed-top is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    
    <div class="navbar-item">
      <a href="{{ .Site.BaseURL }}">
        <img src="/icons/favicon.png" alt="{{ .Site.Title }}">
      </a>
      <span class="subtitle pl-2 has-text-grey-light is-size-3 has-text-weight-normal is-family-secondary">{{ (.Scratch.Get "subtitle") | lower }}</span>
    </div>
  

    <a role="button" class="navbar-burger is-align-items-center" aria-label="menu" aria-expanded="false" data-target="MainNavigationMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="MainNavigationMenu" class="navbar-menu" aria-label="Main Navigation">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable is-align-items-stretch">
        <a class="navbar-link is-flex is-align-items-center" href="/">
          <img class="icon" src="/icons/font-awesome/pen-to-square.svg" aria-hidden="true">
          <span class="pl-2">Pages</span>
        </a>
        {{ $page_range := where .Site.RegularPages "Type" "pages" }}
         <div class="navbar-dropdown is-right is-size-6">
          {{ range $page_range.ByTitle }}
            <a class="navbar-item" href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable is-align-items-stretch">
        <a class="navbar-link is-flex is-align-items-center" href="/galas/">
          <img class="icon" src="/icons/font-awesome/trophy.svg" aria-hidden="true">
          <span class="pl-2">Galas</span>
        </a>
        {{ $page_range := where .Site.RegularPages "Type" "galas" }}
         <div class="navbar-dropdown is-right is-size-6">
          {{ range $page_range.ByDate.Reverse }}
            <a class="navbar-item" href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable is-align-items-stretch">
        <a class="navbar-link is-flex is-align-items-center" href="/blog/">
          <img class="icon" src="/icons/ionicons/pricetags-outline.svg" aria-hidden="true">
          <span class="pl-2">Tags</span>
        </a>
        <div class="navbar-dropdown is-right is-size-6">
          {{ range .Site.Taxonomies.tags }}
            <a class="navbar-item is-size-6" href="{{ .Page.Permalink }}">{{ .Page.Title }} | {{ .Count }}</a>
          {{ end }}
        </div>
      </div>
      <div class="p-2"></div>  
    </div>
  </div>
</nav>
