<!-- blog header, date and tags -->
<div class="single-page-header">
  <div class="header-left">
    <div class="title single-page-title">
      {{ .Title }}
    </div>
    <div class="modified-tags">
      {{ range (.GetTerms "tags") }}
        <span class="modified-tag "><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></span>
      {{ end }}
    </div>
  </div>
  <div class="header-right">
    <!-- special date setting for booklist based on booklist.csv modification date -->
    {{ $postDate := .Date }}
    {{ if eq .Params.layout "booklist" }}
      {{ $booklistFileLocation := os.Stat "pages/booklist/booklist.csv" }}
      {{ $postDate = $booklistFileLocation.ModTime }}
    {{ end }}
    <div class="date-ribbon">{{ $postDate.Format "2 January 2006" }}</div>
  </div>
</div>
<!--  end -->
