<!-- single page footer -->
<div class="card-footer">
  {{ with .NextInSection }}
    <a href="{{ .Permalink }}" class="card-footer-item flex is-justify-content-left">
      <img class="icon" src="/icons/ionicons/chevron-back-outline.svg" aria-hidden="true">
      <div class="is-flex is-flex-direction-column is-align-items-flex-start has-text-left">
        <span class="pl-2  is-family-secondary is-size-5">{{ .Title }}</span>
        <span class="pl-2">{{ .Date.Format "2 January 2006" }}</span>
      </div>
    </a>
  {{ end }}
  {{ with .PrevInSection }}
    <a href="{{ .Permalink }}" class="card-footer-item is-justify-content-right">
      <div class="is-flex is-flex-direction-column is-align-items-end has-text-right">
        <span class="pr-2 is-family-secondary is-size-5">{{ .Title }}</span>
        <span class="pr-2">{{ .Date.Format "2 January 2006" }}</span>
      </div>
      <img class="icon" src="/icons/ionicons/chevron-forward-outline.svg" aria-hidden="true">
    </a>
  {{ end }}
</div>
