<div class="flex is-align-items-start">
  <div class="home-page-card p-5 is-flex is-justify-content-space-between has-background-warning">
    
    {{ if eq .Params.welcomeBox true }}
      <div>
        <p class="title">Hello...</p>
        <p class="subtitle">and welcome to my blog!</p>
      </div>
    {{ else }}
      <div>
        <p class="title">{{ strings.FirstUpper .Title }}</p>
      </div>
    {{ end }}

    <!-- define image based on tagImages in config, and headerImage in individual params -->
    <!-- this won't compile unless you have the resource conditional on that resource existing,
      hence the "with" statement -->
    {{ $tagName := "default" }}
    {{ if (isset .Params "headerimage") }}
      {{ $tagName = .Params.headerImage }}
    {{ else if (isset .Site.Params.tagImages (lower .Title))}}
      {{ $tagName = lower .Title }}  
    {{ end }}

    {{ $image := resources.Get (index .Site.Params.tagImages $tagName) }}
    {{ with $image }}
      {{ $image = $image.Fit "200x150" }}
      <div>    
        <img src="{{ $image.RelPermalink }}">
      </div>    
    {{ end }}
  </div> 
</div>
