<div class="homepage-column-width-setting home-page-card">
  <a href="{{ .RelPermalink }}">
    <div class="homepage-page-card-title">
      {{ .Title }}
    </div>
  </a>

  {{ $tagName := "default" }}
  {{ if (isset .Params "headerimage") }}
    {{ $tagName = .Params.headerImage }}
  {{ else if (isset .Site.Params.tagImages (lower .Title))}}
    {{ $tagName = lower .Title }}  
  {{ end }}

  {{ $image := resources.Get (index .Site.Params.tagImages $tagName) }}
  {{ with $image }}
    {{ $image = $image.Fit "200x200" }}
    <div>
      <img src="{{ $image.RelPermalink }}">
    </div>
  {{ end }}
</div> 
