<!-- album gallery -->
<div class="gallery caption-position-bottom caption-effect-slide hover-effect-zoom" itemscope itemtype="http://schema.org/ImageGallery">
<div class="pswp-gallery pswp-gallery--single-column" id="photoswipe5-gallery">
{{ $data := .Resources.GetMatch "*.json" | transform.Unmarshal }}
{{ $gallery := .Resources.ByType "image" }}
{{ $thumbnailSize := .Params.thumbnailSize | default "300x300 Top" }}
{{ range $gallery }}
  {{ $image := . }}
  {{ $thumbnail := .Fill $thumbnailSize }}
  {{ $name := path.Base . }}
  {{ range where $data "FilePath" $name }}
    {{ $ImageTitle := index . "ImageTitle" }}
    {{ $PhotoDetails1 := index . "PhotoDetails1" }} <!-- Photo Credit (gala) or Camera (album) -->
    {{ $PhotoDetails2 := index . "PhotoDetails2" }} <!-- LicensorURL (gala) or Camera Details (album) -->
    {{ $Commentary := index . "Commentary" }}
    <div class="gallery-box" style="max-width: {{ $image.Width }}px;">
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <div class="gallery-img" style="background-image: url('{{ $thumbnail.RelPermalink }}'); background-repeat:no-repeat;" >
          <a href="{{ $image.RelPermalink }}" data-pswp-width="{{ $image.Width }}" data-pswp-height="{{ $image.Height }}" target="_blank">
            <img src="{{ $thumbnail.RelPermalink }}" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" alt="{{ $ImageTitle }}">
            <div class="pswp-caption-content">
              <div class="album__image-description">{{ $ImageTitle }}</div>
              <div class="album__commentary">{{ $Commentary | markdownify }}</div>
              <div class="album__photo-credit">{{ $PhotoDetails1 }} <br> {{ $PhotoDetails2 }}</div>
            </div>
          </a>
        </div>
        <figcaption class="gallery__gallery-caption">
          <p>{{ $ImageTitle }}</p>
        </figcaption>
      </figure>
    </div>
  {{ end }}
{{ end }}
</div>
<!-- end album gallery -->
