{{ define "main" }}

{{ if .Params.welcomeBox }}
  {{ partial "34_list-page-title" . }}
{{ end }}

<div class="list-page-card">

  <!-- blog header, date and tags -->
  {{ if ne .Params.showHeaderDate false }}
    {{ partial "31_title-and-date-header" . }}
  {{ end }}

  <div class="card-content" style="padding-left: 2rem;">

    <!-- default page content section -->
    <div class="content is-family-serif">
      {{ .Content }}
    </div>
    <!-- end default page content section -->

    <!-- custom content sections -->
    {{ if eq .Params.layout "booklist" }}
      {{ partial "41_booklist" . }}
    {{ else if eq .Params.layout "gala" }}
      {{ partial "42_gala" . }}
    {{ end }}
    <!-- end custom content section -->

    {{ partial "33_table-of-contents" . }}

  </div>

  <!-- "page" type doesn't get a prev/next footer -->
  {{ if ne .Type "pages" }}
    {{ partial "32_prev-next-footer" . }}
  {{ end}}

</div>

{{ end }}
